* {
  text-align: center;
  background-color: rgb(10, 10, 56);
}

.add-numbers {
  width: 25%;
  margin: 0 auto;
}

.write {
  width: 25%;
  margin: 0 auto;
}

.header {
  color: ghostwhite;
}

.spliter {
  border-width: 5px;
  background-color: ghostwhite;
}

.enc-btn {
  margin-right: 50px;
  margin-left: 50px;
}
